<div class=" card
          align
          col-lg-10 col-md-10 col-sm-10
          mt-5
          bg-dark bg-gradient
          text-white
          customCard">
    <div class="card-header">
        <h4><a class="text-decoration-none" href="/dashboard/edit/{{id}}">{{title}}</a></h4>
    </div>
</div>