{{#if posts.length}}
<section>
  <h3 class="text-white m-4">Your Posts</h3>
    {{#each posts as |post|}}
      {{> dashboard-postinfo post}}
    {{/each}}

</section>
{{/if}}

<div class="d-grid gap-2 col-4 mx-auto">
    <button type="submit" class="btn btn-primary m-4"><a class="text-decoration-none fs-5" href="/dashboard/new">+ New Post</a></button>
</div>
