body {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  background-image: url("/images/bg.jpg");
  background-size: cover;
  height: 100vh;
}
.navbar-brand {
  font-size: 2rem;
}
.customCard {
  opacity: 0.9;
}
.user-comment {
  font-size: 1.3rem;
}

a {
  color: rgb(244, 245, 247);
  font-weight: bold;
  text-shadow: 2px 2px 8px #000000;
}

a:hover {
  color: rgb(155, 197, 197);
}

input {
 font-weight: 900 !important;
}
